<ion-content class="details-container">
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <app-header></app-header>
            </ion-col>
        </ion-row>
        <hr />
        <hr />
        <hr />
        <hr />
        <ion-row>
            <ion-col
                size-md="8"
                offset-md="2"
                size-xs="10"
                offset-xs="1">
                <ng-container [ngSwitch]="selectedService">
                    <ng-container
                        *ngSwitchCase="'personal_mentor'"
                        [ngTemplateOutlet]="mentoring"></ng-container>
                    <ng-container
                        *ngSwitchCase="'mentor_for_business'"
                        [ngTemplateOutlet]="mentoring"></ng-container>
                    <ng-container
                        *ngSwitchCase="'course'"
                        [ngTemplateOutlet]="course"></ng-container>
                    <ng-container
                        *ngSwitchCase="'software'"
                        [ngTemplateOutlet]="mentoring"></ng-container>
                </ng-container>
            </ion-col>
        </ion-row>
        <form
            [formGroup]="formGroup"
            (ngSubmit)="onSubmit()">
            <ion-row>
                <ion-col
                    size-xl="6"
                    offset-xl="3"
                    size-sm="8"
                    offset-sm="2">
                    <ion-text color="primary">
                        <h1 class="ion-text-center"><strong> Regisztráció</strong></h1>
                    </ion-text>
                    <ion-item>
                        <ion-input
                            label="Email"
                            formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input
                            label="Név"
                            formControlName="name"></ion-input
                    ></ion-item>
                    <ion-item>
                        <ion-input
                            label="Telefonszám"
                            formControlName="phone"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col
                    class="ion-text-center"
                    size="6"
                    offset="3">
                    <ion-button
                        *ngIf="!formSending"
                        type="submit"
                        shape="round"
                        [disabled]="!formGroup.valid">
                        Küldés</ion-button
                    >
                    <ion-spinner
                        *ngIf="formSending"
                        color="primary"
                        name="dots"></ion-spinner>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
    <hr />
    <hr />
    <hr />
    <hr />
</ion-content>
<ion-footer no-padding>
    <ion-toolbar>
        <app-footer></app-footer>
    </ion-toolbar>
</ion-footer>

<ng-template #course>
    <div class="ion-text-center">
        <ion-text color="primary">
            <h1 class="ion-text-center"><strong>Kezdő Angular Online Tanfolyam</strong></h1>
        </ion-text>
    </div>
    <hr />
    <ion-text>
        A tanfolyamot inkább gyakorlatiasan fogjuk megtartani, sok kis programot fogunk írni. Elméleti rész minimális
        lesz. Az orákról videófelvétel készül, amit az összes tanulónak elérhető lesz.
    </ion-text>
    <hr />
    <div>
        <ion-text color="primary"> Limitált létszám max 10 fő !</ion-text>
    </div>
    <hr />
    <div>
        <ion-text color="primary"> Január 13-án kezdődik, az utolsó óra Február 2-án lesz. </ion-text>
    </div>
    <hr />
    <div>
        <ion-text color="primary"> Minden szombaton nettó 6 óra kódolás</ion-text>
    </div>
    <ion-text color="primary">
        <h1
            class="ion-text-center"
            color="primary">
            Tematika
        </h1>
    </ion-text>
    <div>
        <ul>
            <li *ngFor="let subect of courseSubjects">
                <ion-text>{{ subect }}</ion-text>
            </li>
        </ul>
    </div>
    <ion-text color="primary">
        <h1
            class="ion-text-center"
            color="primary">
            Órarend
        </h1>
    </ion-text>
    <div>
        <ion-text>09:00 → 10:30 → 1. óra</ion-text>
    </div>
    <div>
        <ion-text>10:45 → 12:15 → 2. óra</ion-text>
    </div>
    <div>
        <hr />
        <ion-text> EBÉDSZÜNET </ion-text>
        <hr />
    </div>
    <div>
        <ion-text>13:15 → 14:45 → 3. óra</ion-text>
    </div>
    <div>
        <ion-text>15:00 → 16:30 → 4. óra</ion-text>
    </div>
    <hr />
    <hr />
    <div class="ion-text-center">
        <ion-text color="primary">
            <strong>Buruttó 79.999 HUF</strong>
        </ion-text>
    </div>
</ng-template>
<ng-template #mentoring>
    <div class="ion-text-center">
        <ion-text color="primary">
            <h1 class="ion-text-center"><strong>Junior Webfejlesztő Mentorálás (Angular)</strong></h1>
        </ion-text>
    </div>
    <ion-text>
        <ion-text color="primary"
            ><strong> Szeretnél megtanulni programozni vagy szeretnéd fejleszteni meglévő tudásod?</strong>
        </ion-text>
        Ne fizess be drága tanfolyamokra. A Code Code Academy személyre szabott mentorálásával hatékonyabban és
        gyorsabban tanulhatsz. A mentorok útmutatást nyújtanak, hogy mit és hogyan kell tanulnod ahhoz, hogy elérd a
        céljaidat.
    </ion-text>
    <hr />
    <hr />
    <ul class="ion-text-center">
        <li>
            <ion-text color="primary"><strong> INGYENES konzultáció ! </strong></ion-text>
        </li>
        <li>
            <ion-text color="primary"><strong> INGYENES első egy óra ! </strong></ion-text>
        </li>
    </ul>
    <hr />
    <hr />
    <ion-text class="ion-text-center">
        Egyetlen tanfolyam vagy könyv sem tudja pótolni a személyre szabott mentorálást, mindenki másképpen tanul. Ha
        van olyan program, amit megszeretnél írni, együtt megcsináljuk, ha nincs, adunk számodra feladatokat, amivel
        fejlődhetsz.
    </ion-text>
    <hr />
    <hr />
    <ion-text class="ion-text-center">
        Ha nálunk tanulsz, <ion-text color="primary"><strong>Discord</strong></ion-text> szerverünk tagja lehetsz, ahol
        tanulóink megosztják egymással tapasztalataikat.
    </ion-text>
    <hr />
    <hr />
    <ion-text class="ion-text-center">
        Rugalmasak vagyunk, tehát akkor és annyi órát veszel, amennyit Te szeretnél. Amit javaslunk, az a minimum heti 2
        óra.
    </ion-text>
    <hr />
    <hr />
    <div class="ion-text-center">
        <ion-text color="primary">
            <strong>Buruttó 9.999 HUF / óra</strong>
        </ion-text>
    </div>
</ng-template>
