.details-container {
    // background: #ffff url('/../assets/background.png') no-repeat center center / cover;
}

ion-text {
    line-height: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

ion-img {
    height: 3rem;
}