<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size-md="6">
            <div class="tech-icons">
                <ion-avatar>
                    <img src="../../assets/icon/angular-logo.svg" />
                </ion-avatar>
                <ion-avatar>
                    <img src="../../assets/icon/vue-logo.svg" />
                </ion-avatar>
                <ion-avatar>
                    <img src="../../assets/icon/react-logo.svg" />
                </ion-avatar>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col
            size-md="8"
            size-sm="10"
            class="ion-text-center" >
            <ion-text  color="tertiary">
              <h1 color="tertiary">Webfejlesztés iskolája a jövő programozóinak</h1>
            </ion-text>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col
            class="ion-text-center"
            size-md="6"
            offset-md="3">
            <ion-button
                (click)="scrollToServices()"
                shape="round"
                color="primary"
                >Szolgáltatások</ion-button
            >
        </ion-col>
    </ion-row> -->
</ion-grid>
