<ion-grid>
    <ion-row>
        <ion-col
            size-xl="2"
            size-lg="2"
            size-md="4"
            size-sm="4"
            size-xs="6"
            offset-xl="4"
            offset-lg="4"
            offset-md="2"
            offset-sm="2"
            offset-xs="0">
            <app-teacher-card [teacher]="teachers[0]"></app-teacher-card>
        </ion-col>
        <ion-col
            size-xl="2"
            size-lg="2"
            size-md="4"
            size-sm="4"
            size-xs="6">
            <app-teacher-card [teacher]="teachers[1]"></app-teacher-card>
        </ion-col>
    </ion-row>
</ion-grid>
