<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <!-- <ion-footer class="ion-no-border">
        <ion-toolbar>
            <div class="footer-wrapper">
                <div class="social-medias">
                    <ion-icon
                        size="small"
                        name="logo-linkedin"></ion-icon>
                    <ion-icon
                        size="small"
                        name="logo-tiktok"></ion-icon>
                    <ion-icon
                        size="small"
                        name="logo-facebook"></ion-icon>
                </div>
            </div>
        </ion-toolbar>
    </ion-footer> -->
</ion-app>
