<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-header></app-header>
            </ion-col>
        </ion-row>
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <ion-row class="ion-text-start">
            <ion-col
                size-md="3"
                size-sm="5"
                size-xs="6"
                offset-sm="1"
                offset-md="3">
                <ion-text color="primary">Cégnév</ion-text>
            </ion-col>
            <ion-col
                size-sm="5"
                size-md="3"
                size-xs="6">
                <ion-text color="primary">Pallagi József EV.</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-start">
            <ion-col
                size-md="3"
                size-xs="6"
                offset-md="3"
                size-sm="5"
                offset-sm="1">
                <ion-text color="primary">Adószám</ion-text>
            </ion-col>
            <ion-col
                size-md="3"
                size-xs="6"
                size-sm="5">
                <ion-text color="primary">57948948-1-43</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-start">
            <ion-col
                size-md="3"
                size-xs="6"
                size-sm="5"
                offset-md="3"
                offset-sm="1">
                <ion-text color="primary">Cím</ion-text>
            </ion-col>
            <ion-col
                size-sm="5"
                size-md="3"
                size-xs="6">
                <ion-text color="primary">Budapest, Távíró utca 11/3 2 10</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-start">
            <ion-col
                size-md="3"
                size-xs="6"
                size-sm="5"
                offset-md="3"
                offset-sm="1">
                <ion-text color="primary">Email</ion-text>
            </ion-col>
            <ion-col
                size-md="3"
                size-xs="6">
                <ion-text color="primary">hello@codecode.academy</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer></app-footer>
