<ion-toolbar class="container">
    <div class="custom-row">
        <ion-icon
            size="small"
            name="logo-linkedin"></ion-icon>
        <ion-icon
            size="small"
            name="logo-tiktok"></ion-icon>
        <ion-icon
            size="small"
            name="logo-facebook"></ion-icon>
    </div>
    <div class="custom-row">
        <ion-text>©Copyright 2023, All Rights Reserved </ion-text>
        <a [routerLink]="['aszf']"> ÁSZF </a>
    </div>
</ion-toolbar>
