<ion-card [disabled]="isDisabled">
    <ion-card-content>
        <section class="card-container">
            <ion-avatar>
                <img src="{{ service.image }}" />
            </ion-avatar>
            <ion-text
                class="ion-text-center"
                color="text-darkest">
                <h1>{{ service.title }}</h1>
            </ion-text>
            <ion-text
                color="text-medium"
                class="ion-text-center ion-justify-content-center">
                {{ service.description }}
            </ion-text>
            <ion-button
                *ngIf="service.price"
                size="small"
                fill="outline"
                shape="round"
                >{{ service.price }} HUF / óra</ion-button
            >
            <ion-button
                fill="clear"
                size="small"
                color="text-darkest"
                (click)="onDetailsClick()">
                <ion-icon color="text-darkest"
                    name="chevron-forward-outline"
                    slot="end"></ion-icon>
                Részletek</ion-button
            >
        </section>
    </ion-card-content>
</ion-card>
