ion-card {
    height: 100%;
}

ion-text {
    height: 100%;
}

ion-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
